Repository voxpupuli/puppet-poudriere, pull requests merged in 2024-02, with the labels that each got.

#83 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#84 Add support for the latest poudriere options
  REFERENCE.md
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/poudriere.conf.epp
Labels: enhancement

#86 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
